@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    background-color: rgb(155, 190, 221);
}
.Photo{
    width: 10%;
    height:10%;
    float: left;
}
.info li and p { 
    text-align: center;
    padding-left: 50%;
}

