*{
    background-color: rgb(217, 214, 214);
}
.naveg{
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
li{
    justify-content: space-around;
}
.naveg,ul,i,a{
    background-color: rgba(0, 255, 255, 0);
}
#link{
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: black;
    background-color: rgba(240, 248, 255, 0);
}
.title{
    text-align: center;
}
.Photo{
    padding-right: 0.5cm;
    width: 4cm;
    height:5cm;
    float: left;
}
.info li{ 
    color: rgb(25, 0, 255);
    text-align: left;
}
.info p {
    margin: 0;
}
button{
    float: right;
    background-color: rgb(104, 62, 243);
    color: black;
}
button a {
    background-color: rgb(104, 62, 243);
    color: black;
}
.link{
    text-decoration: none;
}
ul li a {
    color: black;
}
.subtext{
    box-sizing: border-box;
    padding-top: 130px;
    margin: 0;

}